<!DOCTYPE html>
<html>
  <head>
    <title>CoupleWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <a class="navbar-brand" href="/portal/index">CoupleWork</a>
    <% if @user %>
      <p class="navbar-text navbar-right">
        Signed in as <%= @user['name'] %>
        <%= link_to 'logout','/logout'%>
      </p>
      <% else %>
      <p class="navbar-text">
        <%= link_to 'login','/login'%>
        </p>
    <% end %>
    </div>
  </nav>
  
    <%= yield %>
  </body>
</html>
