<!DOCTYPE html>
<html>
  <head>
    <title>CoupleWork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @zaim_user %>
      <%= @zaim_user['name'] %>
      <%= link_to 'logout','/logout'%>
    <% end %>

    <%= link_to 'login','/login'%>


    <%= yield %>
  </body>
</html>
